.widget {
    padding: 100px 88px;
    width: 345px;
}

.widget p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
}

.change-color {
    cursor: pointer;

    margin: 0 auto;
    border-radius: 8px;
    padding: 8px 16px;
    width: 88%;
    height: 40px;
    border: none;

    background-color: #4e75ff;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;

    transition: background-color 444ms ease-in-out;

    &:hover {
        background-color: #6c8cff;
    }
}